<nav class="navbar navbar-light bg-light">
  <a href="#" class="navbar-brand mr-auto">Blockchain Polls</a>
  <button type="button" class="btn btn-secondary" (click)="showForm = !showForm">
    Create poll
  </button>
</nav>

<section class="jumpotron bg-light text-center">
  <h1>Polls Rethinked</h1>
  <p class="lead text-muted">Powered by blockchain</p>
</section>

<app-poll-create *ngIf="showForm" (pollCreated)="handlePollCreate($event)" [events]="pollCreationEvent.asObservable()">
</app-poll-create>

<div>
  <div class="d-flex">
    <div class="poll-list container">
      <app-poll *ngFor="let poll of polls | async" [question]="poll.question" [voted]="poll.voted"
        [votes]="poll.results" [image]="poll.thumbnail" (click)="setActivePoll(poll)"></app-poll>
    </div>

    <div class="container poll-detail">
      <app-poll-vote *ngIf="activePoll" [id]="activePoll.id" [voted]="activePoll.voted" [question]="activePoll.question"
        [results]="activePoll.results" [options]="activePoll.options" (pollVotedEvent)="handlePollVote($event)">
      </app-poll-vote>
    </div>
  </div>
</div>
